MVCApplication/MVCApplication/Service References/ServiceReference1/ServiceLibrary.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLibrary.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLibrary.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTestModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TestModel" nillable="true" type="tns:TestModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestModel" nillable="true" type="tns:ArrayOfTestModel" />
  <xs:complexType name="TestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Column2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TestModel" nillable="true" type="tns:TestModel" />
</xs:schema>